<footer>
    <p>
        <a href="https://webring.archaeo.social/previous?host=www.andreatitolo.com">←</a>
        <a href="https://webring.archaeo.social/">Archaeoring</a> | <a href="https://webring.archaeo.social/random">Random</a>
        <a href="https://webring.archaeo.social/next?host=www.andreatitolo.com">→</a>
    </p>
    <p class="powered-by">
        <p> {{ now() | date(format="%Y") }} © {{ config.author }} - <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC-4.0</a> - <a href="/privacy">Privacy</a> - <a href="/more#RSS">RSS</a></p>
        <p>Inspired by Academic - Handcrafted with Zola and CSS</p>
    </p>
    <div class="visually-hidden"><a rel="me" href="https://archaeo.social/@andreatitolo">Mastodon</a></div>
</footer>