{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col col-lg-4">
        <div id="profile">
           <picture>
             <img class="avatar" src="{{ config.extra.avatar }}" alt="Profile image"/>
           </picture>
          <div>
            <h2>{{ config.author }}</h2>
            <h3>{{ config.extra.role }}</h3>
            <h3>{{ config.extra.institution }}</h3>
          </div>
          <ul class="network">
            {% set social_items = config.extra.social_buttons -%}
            {% for item in social_items -%}
            <li class="network-item"><a href="{{ item.link | replace(from='$EMAIL_ADDRESS', to=config.extra.email)}}"><button>{{ item.name }}</button></a></li>
            {% endfor -%}
          </ul>
        </div>
      </div>
      <div class="col col-lg-8">
          <article>
            {{section.content | safe }}
          </article>
          <div class="row" id="background">
            <div class="col col-md-5" id="interests">
              <h3>Interests</h3>
              <ul>
                {% set interests_items = config.extra.interests_items -%}
                {% for item in interests_items -%}
                <li>{{ item.name }}</li>
                {% endfor -%}
              </ul>
            </div>
            <div class="col col-md-7" id="education">
              <h3>Education</h3>
              <ul>
                {% set education_items = config.extra.education_items -%}
                {% for item in education_items -%}
                <li>
                  <div>
                    <p class="course">{{ item.course }}, {{ item.year }}</p>
                    <p class="institution">{{ item.institution }}</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}