{% extends "base.html" %}

{% block content %}


{% for asset in page.assets -%}
  {% if asset is ending_with("bib") -%}{{asset}}{% break -%}{% endif -%}
{% endfor -%}

{% set bibtex = load_data(path="content/publications/second/cite.bib", required=false, format="bibtex") -%}

<div class="pub-container">
    <h1>{{ page.title }}</h1>
    <div class="pub-buttons">
        {% if page.extra.url_preprint %}
            <a href="{{ page.extra.url_preprint }}"><button>Preprint</button></a>
        {% endif %}
        {% if page.extra.url_local_pdf %}
            <a href="{{ page.extra.url_local_pdf }}"><button>Self-archived PDF</button></a>
        {% endif %}
        {% if page.extra.url_pdf %}
            <a href="{{ page.extra.url_pdf}}"><button>Publisher's PDF</button></a>
        {% endif %}
        <a href="cite.bib"><button>Cite</button></a>
        {% if page.extra.url_code %}
            <a href="{{ page.extra.url_code }}"><button>Code</button></a>
        {% endif %}
        {% if page.extra.url_dataset %}
            <a href="{{ page.extra.url_dataset }}"><button>Dataset</button></a>
        {% endif %}
        {% if page.extra.url_doi %}
            <a href="{{ page.extra.url_doi }}"><button>DOI</button></a>
        {% endif %}
    </div>
    <div>
        <ul class="pub-metadata">
            <li><strong>Authors</strong>: {% for author in page.extra.authors %} {{ author }} {% endfor %} </li>
            <li><strong>Published</strong>: <time datetime="{{ page.date }}">{{ page.date }}</time></li>
            <li><strong>Type</strong>: {{page.extra.publication_type}} </li>
            <li><strong>Publication</strong>: {{page.extra.publication}} </li>
            <li><strong>Tags</strong>: {% for tag in page.extra.tags %} <a href="" class="pub-tag">{{ tag }}</a> {% endfor %}</li>
        </ul>
    </div>
    <article> 
        {% if page.extra.abstract %} 
            {{ page.extra.abstract }}
        {% endif %}
    {{ page.content | safe }}
        {% if page.lower or page.higher %}
            <nav class="page-nav">
            {% if page.higher %}
                <a class="page-nav-item page-nav-prev" href="{{ page.higher.permalink }}">
                    <div class="nav-arrow">← Previous</div>
                    <span class="page-title">{{ page.higher.title }}</span>
                </a>
            {% endif %}
            {% if page.lower %}
                <a class="page-nav-item page-nav-next" href="{{ page.lower.permalink }}">
                    <div class="nav-arrow">Next →</div>
                    <span class="page-title">{{ page.lower.title }}</span>
                </a>
            {% endif %}
            </nav>
        {% endif %}
    </article>
</div>

{% endblock content %}
