{% extends "base.html" %}
{% block content %}

<article class="pub-container">
    <h1>{{ page.title }}</h1>
    <ul class="pub-buttons">
        {{ pub_icons::render_pub_icon() }}
    </ul>
    <div>
        <ul class="pub-metadata">
            <li><strong>Authors</strong>: 
                {% for author in page.taxonomies.authors %} 
                    {% if not loop.last %}
                       <a href="{{ get_taxonomy_url(kind="authors", name=author) }}" class="pub-author">{{ author }}</a>,
                    {% elif loop.last %}
                        <a href="{{ get_taxonomy_url(kind="authors", name=author) }}" class="pub-author">{{ author }}</a>
                    {% endif %}
                {% endfor %} 
            </li>
            <li><strong>Published</strong>: <time datetime="{{ page.date }}">{{ page.date }}</time></li>
            <li><strong>Type</strong>: {{page.extra.publication_type}} </li>
            <li><strong>Publication</strong>: {{page.extra.publication}} </li>
            <li><strong>Tags</strong>: 
                {% for tag in page.taxonomies.tags %} 
                    {% if not loop.last %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="pub-tag">{{ tag }}</a>,
                    {% elif loop.last %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="pub-tag">{{ tag }}</a> 
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
    <article> 
        {% if page.extra.abstract %} 
            {{ page.extra.abstract }}
        {% endif %}
        {{ page.content | safe }}
        {% if page.lower or page.higher %}
            <nav class="page-nav">
            {% if page.higher %}
                <a class="page-nav-item" href="{{ page.higher.permalink }}">
                    <div class="nav-arrow">← Previous</div>
                    <span class="page-title">{{ page.higher.title }}</span>
                </a>
            {% endif %}
            {% if page.lower %}
                <a class="page-nav-item" href="{{ page.lower.permalink }}">
                    <div class="nav-arrow">Next →</div>
                    <span class="page-title">{{ page.lower.title }}</span>
                </a>
            {% endif %}
            </nav>
        {% endif %}
    </article>
</article>

{% endblock content %}
