{% extends "base.html" %}

{% block content %}
<div class="pub-container">
    <h1>{{ page.title }}</h1>
    <ul class="pub-buttons">
        {% if page.extra.url_slides %}
            <li><a href="{{ page.extra.url_slides }}">{{ pub_icons::render_pub_icon(icon="slide") }}Slides</a></li>
        {% endif %}
        {% if page.extra.url_code %}
            <li><a href="{{ page.extra.url_code }}">{{ pub_icons::render_pub_icon(icon="git") }}Code</a></li>
        {% endif %}
        {% if page.extra.url_doi %}
            <li><a href="{{ page.extra.url_doi }}">{{ pub_icons::render_pub_icon(icon="doi") }}DOI</a></li>
        {% endif %}
        {% if page.extra.url_homepage %}
            <li><a href="{{ page.extra.url_homepage }}">{{ pub_icons::render_pub_icon(icon="web") }}Conference Website</a></li>
        {% endif %}

    </ul>
    <div>
        <ul class="pub-metadata">
            <li><strong>Speaker(s)</strong>: 
                {% for author in page.taxonomies.authors %} 
                <a href="{{ get_taxonomy_url(kind="authors", name=author) }}" class="pub-author">{{ author }}</a>
                {% endfor %} 
            </li>
            <li><strong>Date</strong>: <time datetime="{{ page.date }}">{{ page.date }}</time></li>
            <li><strong>Event</strong>: {{page.extra.event}} </li>
            <li><strong>Location</strong>: {{page.extra.location}} </li>
            <li><strong>Tags</strong>: 
                {% for tag in page.taxonomies.tags %} 
                    {% if not loop.last %}
                       <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="pub-tag">{{ tag }}</a>,
                    {% elif loop.last %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="pub-tag">{{ tag }}</a>
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
    <article>

        {% if page.extra.abstract %} 
            {{ page.extra.abstract }}
        {% endif %}

        {%- if page.extra.url_slides %}
            <p class="notice">
                {% if page.extra.url_slides is ending_with(".html") %}
                Click on the <strong>Slides</strong> button above to view the revealjs presentation.
                {% elif page.extra.url_slides is ending_with(".pdf") %}
                Click on the <strong>Slides</strong> button above to view the pdf presentation.
                {% else %}
                Click on the <strong>Slides</strong> button above to view the interactive presentation.
                {% endif %}
                </p>
        {%- endif %}

        {{ page.content | safe }}

        {% if page.lower or page.higher %}
            <nav class="page-nav">
            {% if page.higher %}
                <a class="page-nav-item" href="{{ page.higher.permalink }}">
                    <div class="nav-arrow">← Previous</div>
                    <span class="page-title">{{ page.higher.title }}</span>
                </a>
            {% endif %}
            {% if page.lower %}
                <a class="page-nav-item" href="{{ page.lower.permalink }}">
                    <div class="nav-arrow">Next →</div>
                    <span class="page-title">{{ page.lower.title }}</span>
                </a>
            {% endif %}
            </nav>
        {% endif %}
        
    </article>
</div>
{% endblock content %}