{% extends "base.html" %}

{% block content %}
  <article>
    <section>
      <h1 class="title">
        {{ section.title }}
      </h1>
      {% for year, talks in paginator.pages | group_by(attribute="year") %}
          <h2>{{ year }}</h2>
        <ul class="publist">
          {% for page in talks %}
          <li class="publist-item">
            {% for author in page.taxonomies.authors %}
              {% if author == config.extra.author %}
                <strong><a href="{{ get_taxonomy_url(kind="authors", name=author) }}" class="pub-author">{{ author }}</a></strong>
              {% else %}
                <a href="{{ get_taxonomy_url(kind="authors", name=author) }}" class="pub-author">{{ author }}</a>
              {% endif %}
            {% endfor %}
            - <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
          <p> <time datetime="{{ page.date }}">{{ page.date }}</time> - {{ page.extra.location }}</p>
              <ul class="publist-links">
                {% if page.extra.url_slides %}
                  <li><a href="{{ page.permalink | safe }}{{ page.extra.url_slides }}">{{ pub_icons::render_pub_icon(icon="slide") }} Slides</a></li>
                {% endif %}
                {% if page.extra.url_code %}
                  <li><a href="{{ page.extra.url_code }}">{{ pub_icons::render_pub_icon(icon="git") }} Code</a></li>
                {% endif %}
                {% if page.extra.url_doi %}
                  <li><a href="{{ page.extra.url_doi }}">{{ pub_icons::render_pub_icon(icon="doi") }} DOI</a></li>
                {% endif %}
                {% if page.extra.url_homepage %}
                  <li><a href="{{ page.extra.url_homepage }}">{{ pub_icons::render_pub_icon(icon="web") }} Conference Website</a></li>
                {% endif %}
              </ul>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </section>
    {% if paginator.next or paginator.previous %}
    <nav class="pagination-nav">
        {% if paginator.previous %}
            <div class="pagination-nav-item">
              <a href="{{ paginator.previous }}" class="pagination-nav-arrow">← Previous</a>
            </div>
        {% endif %}
        {% if paginator.next %}
            <div class="pagination-nav-item">
              <a href="{{ paginator.next }}" class="pagination-nav-arrow">Next →</a>
            </div>
        {% endif %}
    </nav>
    {% endif%}
  </article>
{% endblock content %}