{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
  {% for year, talks in section.pages | group_by(attribute="year") %}
      <h2>{{ year }}</h2>
    <ul class="publist">
      {% for page in talks %}
      <li class="publist-item"> {% for author in page.extra.authors %} {{ author }} {% endfor %} - <a href="{{ page.permalink | safe }}">{{ page.title }}</a> 
      <p> {{ page.date }} - {{ page.extra.location }}</p>
        <p>
          {% if page.extra.url_slides %}
            <a href="{{ page.extra.url_slides }}"><button>Slides</button></a>
          {% endif %}
          {% if page.extra.url_code %}
            <a href="{{ page.extra.url_code }}"><button>Code</button></a>
          {% endif %}
          {% if page.extra.url_doi %}
            <a href="{{ page.extra.url_doi }}"><button>DOI</button></a>
          {% endif %}
          {% if page.extra.url_homepage %}
            <a href="{{ page.extra.url_homepage }}"><button>Conference Website</button></a>
          {% endif %}
        </p>
      </li> 
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock content %}