{% extends "base.html" %}

{% block content %}
<div class="pub-container">
    <h1>{{ page.title }}</h1>
    <div class="pub-buttons">
        {% if page.extra.url_website %}
            <a href="{{ page.extra.url_website }}"><button>Website</button></a>
        {% endif %}
        {% if page.extra.url_repo %}
            <a href="{{ page.extra.url_repo }}"><button>Repository</button></a>
        {% endif %}
    </div>
    <div>
        <ul class="pub-metadata">
            <li><strong>Supervisor(s)</strong>: {% for author in page.extra.authors %} {{ author }} {% endfor %} </li>
            <li><strong>Start Date</strong>: <time datetime="{{ page.extra.start_date }}">{{ page.extra.start_date }}</time></li>
            <li><strong>End Date</strong>: <time datetime="{{ page.extra.end_date }}">{{ page.extra.end_date }}</time></li>
            {% if page.extra.url_website %}
            <li><strong>Website</strong>: <a href="{{page.extra.url_website}}">{{page.extra.url_website}}</a> </li>
            {% endif %}
            <li><strong>Language</strong>: <i>{{page.extra.language}}</i> </li>
            <li><strong>Tags</strong>: 
                {% for tag in page.extra.tags %} 
                    {% if not loop.last %}
                        <a href="" class="pub-tag">{{ tag }},</a> 
                    {% elif loop.last %}
                        <a href="" class="pub-tag">{{ tag }}</a> 
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
    <article>

        {% if page.extra.abstract %} 
            {{ page.extra.abstract }}
        {% endif %}

        {%- if page.extra.url_slides %}
            <p class="notice">Click on the <strong>Slides</strong> button above to view the revealjs presentation.</p>
        {%- endif %}

        {{ page.content | safe }}

        {% if page.lower or page.higher %}
            <nav class="page-nav">
            {% if page.higher %}
                <a class="page-nav-item" href="{{ page.higher.permalink }}">
                    <div class="nav-arrow">← Previous</div>
                    <span class="page-title">{{ page.higher.title }}</span>
                </a>
            {% endif %}
            {% if page.lower %}
                <a class="page-nav-item" href="{{ page.lower.permalink }}">
                    <div class="nav-arrow">Next →</div>
                    <span class="page-title">{{ page.lower.title }}</span>
                </a>
            {% endif %}
            </nav>
        {% endif %}
        
        </div>
    </article>
</div>
{% endblock content %}